*~
*.bak
*.tmp
*.obj
*.ilk
*.pdb
*.idb
*.suo
*.res
*.exp
*.exe.org
*.dll.org
*.intermediate.manifest
*.embed.manifest
*.aps
BuildLog.htm
mt.dep
*.vcproj.*.user
*.ncb
Debug
Release
DebugStatic
ReleaseStatic
/build/nt/.bakefile_gen.state
/docs/reference/CUnit-2.1-2
/include/autoconf.err
/modules/upd/bin/linux_release/*.d
.svn
*.txt
*.jpg
*.bmp
*.db
*.avi
*.lib

#codelite
*.mk
*.project
*.tags
*.workspace
*.session

#vs
*.sln
*.vcproj


